<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Kanit|Merriweather" rel="stylesheet">
<style>
 li{
    font-family: 'Kanit', sans-serif;
    }
.contact{
 width: 10%;
 height: 130%;
}
.textbox{
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 55%;
  left: 15%;
  width: 400px;
  transform: translate(-50%, -50%);
  background: rgba(201, 201, 201, 0.5);
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
  height: 130%;
}

.navbar-image {
  width: 100%;
  height: 130%;
  
}

.firstbtn{
  left: 8%;
  width: 10%;
  background-color: #bf1824;
  min-width:250px;
  min-height:60px;
}

.secbtn{
  left: 24.3%;
  width: 10%;
  background-color: rgb(194, 189, 189);  
  min-width:250px;
  min-height:60px;
}

.container .btn {
  top :89%;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 20px 35px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container .btn:hover {
  opacity: 0.8;
}

.button1{
   padding:14px 55px;

}

.button2{color: red;}

.front{
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
}
img {
  border: 20px white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0;

 }

 body {
    background-image: url("https://cdn.discordapp.com/attachments/647841986686091264/779335534539046922/eiei.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
 }

 h1 {
    margin: 0;
}

.dropdown {
    top: 72%;
    left: 96.4%;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <header>
       <div class="container">
         <h1><img src="https://cdn.discordapp.com/attachments/647841986686091264/779335155437142026/New_Project_1_4.png" class="navbar-image"></h1>
          <div class="dropdown">
            <img src="https://cdn.discordapp.com/attachments/647841986686091264/779316689397481472/arrow.png"  width="22" height="22 ">
        <div class="dropdown-content w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <form action="/information">
                <button class="w3-bar-item w3-button">ข้อมูลส่วนตัว</button>
            </form>
            <form action="/main">
                <button class="w3-bar-item w3-button">ออกจากระบบ</button>
            </form>
        </div>
        </div>
         <form method="get" action="/menu">
            <button class="btn firstbtn "><strong>หน้าแรก</strong></button> 
         </form>
         <form method="get" action="/request">
            <button class="btn secbtn"><strong>รายการคำร้อง</strong></button> 
         </form>
         </div>
      </header>
      <p>tu_status: <%=tu_status%></p>
      <p>username: <%=username%></p>
      <p>name_th: <%=name_th%></p>
      <p>name_en: <%=name_en%></p>
      <p>email: <%=email%></p>
      <p>type: <%=type%></p>
      <p>department: <%=department%></p>
      <p>faculty: <%=faculty%></p>
</body>

</html>